<ion-content class="reset-password-page" fullscreen="true">
  <div class="reset-password-container">
    <h2 class="title">New Password</h2>

    <h3 class="input">Buat Password Baru</h3>


     <ion-item class="input-new-password">
      <ion-input placeholder="password baru" type="password"></ion-input>
    </ion-item>

         <ion-item class="input-confirm-password">
      <ion-input placeholder="confirm password baru" type="password"></ion-input>
    </ion-item>

    <ion-button expand="block" class="confirm">Confirm</ion-button>


  </div>
</ion-content>