.reset-password-page {
  --background: #26374D !important;

  .reset-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    height: 100vh;

  }

  .title {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
    margin-left: 20px;

  }

  .input {
    color: white;
    font-size: 20px;
    font-weight: medium;
    margin-bottom: 20px;
    margin-left: 20px;
  }


  .input-new-password {
    --background: #ffffff;
    --border-radius: 12px;
    margin-bottom: 16px;
  }

  .input-confirm-password {
    --background: #ffffff;
    --border-radius: 12px;
    margin-bottom: 16px;
  }

  .confirm {
    --background: #ffffff;
    --border-radius: 12px;
    margin-bottom: 40px;
    color: #201e1d;
    height: 40px;

  }
}