ion-toolbar {
  padding-top: 23px !important;
}

.notifikasi-group {
  margin-bottom: 24px;
}

.notifikasi-group h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 12px;
}

.notifikasi-item {
  display: flex;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  pointer-events: auto;
  z-index: 1;
}

.notifikasi-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  font-size: 20px;
}

.notifikasi-icon.tamu {
  background-color: #fef9c3;
  color: #eab308;
}

.notifikasi-icon.permohonan {
  background-color: #dbeafe;
  color: #2563eb;
}

.notifikasi-icon.pengaduan {
  background-color: #fee2e2;
  color: #dc2626;
}

.notifikasi-info {
  flex: 1;
}

.judul {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
}

.deskripsi {
  margin: 4px 0;
  font-size: 13px;
  color: #4b5563;
}

.notifikasi-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  color: #6b7280;
}

.badge {
  padding: 2px 8px;
  border-radius: 9999px;
  font-size: 11px;
  font-weight: 500;
  text-transform: capitalize;
}

.badge-waiting {
  background-color: #fef3c7;
  color: #b45309;
}

.badge-denied {
  background-color: #fedbdb;
  color: #e20303;
}

.badge-done {
  background-color: #dcfce7;
  color: #16a34a;
}

.badge-seen {
  background-color: #dde5f1;
  color: #3B82F6;
}



.judul-notifikasi {
  font-weight: bold;
  font-size: 18px;
}