<ion-header>
  <ion-toolbar class="minmal-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/permohonan" text="" icon="arrow-back-outline"></ion-back-button>
      <div class="header-main custom-background">Form Permohonan</div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding form-wrapper" scroll="true" style="padding-bottom: 150px;">
  <ion-card class="tamu-card">
    <div class="form-card">

      <label>NIK</label>
      <ion-input type="number" [(ngModel)]="formData.nik"></ion-input>

      <label>Jenis Permohonan</label>
      <ion-input [(ngModel)]="formData.judul" placeholder="Masukkan jenis/judul permohonan"></ion-input>

      <label>Tujuan Permohonan</label>
      <ion-textarea [(ngModel)]="formData.deskripsi" placeholder="Tuliskan tujuan permohonan"></ion-textarea>

      <label>Lampiran Dokumen</label>
      <input type="file" (change)="onFileSelected($event)" />

      <ion-button expand="block" class="submit-btn" (click)="submitForm()">
        Kirim
      </ion-button>

    </div>
  </ion-card>
</ion-content>

<div class="modal-overlay" *ngIf="showSuccessModal">
  <div class="modal-content">
    <div class="icon-wrapper">
      <ion-icon name="checkmark" class="icon-check"></ion-icon>
    </div>
    <h2 class="title">Permohonan Anda Berhasil<br />Dikirim</h2>
    <p class="subtitle">Form permohonan anda berhasil dikirim.</p>

    <ion-button expand="block" class="btn-primary white-font" (click)="goToPermohonan()">Kembali</ion-button>
    <a (click)="goToHome()" class="btn-link">Kembali ke Beranda</a>
  </div>
</div>
