<ion-tabs #tabs >
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home" role="img"></ion-icon>
      <ion-label>Beranda</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="layanan">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Layanan</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="kunjungan">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Kunjungan</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>