.welcome-page {
  --background: #26374D;
}

.logo-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

.logo-container img{
width: 140px;
  height: auto;
}


