<ion-content class="register-page" fullscreen="true" scroll="true">
  <form (ngSubmit)="register()">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="12" size-md="8" class="ion-padding">

          <h2 class="title">Register</h2>
          <h3 class="data">Data Pribadi</h3>

          <ion-item>
            <ion-input name="fullname" [(ngModel)]="form.fullname" placeholder="Nama Lengkap" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input name="nik" [(ngModel)]="form.nik" placeholder="NIK" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input name="nik_kk" [(ngModel)]="form.nik_kk" placeholder="NIK Kepala Keluarga" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input name="address" [(ngModel)]="form.address" placeholder="Alamat Rumah" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-input name="whatsapp" [(ngModel)]="form.whatsapp" placeholder="Whatsapp" required></ion-input>
          </ion-item>

          <ion-item>
            <ion-select name="gender" [(ngModel)]="form.gender" placeholder="Jenis Kelamin" required>
              <ion-select-option value="Laki-Laki">Laki-Laki</ion-select-option>
              <ion-select-option value="Perempuan">Perempuan</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-input name="password" [(ngModel)]="form.password" placeholder="Password" type="password"></ion-input>
          </ion-item>

          <ion-button type="submit" expand="block">Register</ion-button>

          <div class="register-link">
            Sudah Punya Akun? <a routerLink="/login">Login</a>
          </div>

        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
